/**
 * Johns Hopkins theme for reveal.js.
 *
 * By Winter Maxwell Thayer, winterthayer.wordpress.com/publications/
 *      adapted from Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #191919;
  background-color: #191919; }
  /*background-image: url("university.shield.large.blue.eps"); }*/


.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: #fff; }

::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #fff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 1.8em;
  text-transform: capitalize; }

.reveal h2 {
  position: absolute;;
  top: 16%;
  left: 0;
  right: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: left; }

.reveal h3 {
  font-size: 1.3em;
  color: #aaa}

.reveal h4 {
  font-size: 1em; }

.reveal h5 {
  text-align: left;
  text-indent: 1em;
}

.reveal h6 {
  position: absolute;
  /* top: 91.45%;
  font-size: 0.4em; */
  top: 90.5%;
  font-size: 0.5em;
  text-align: left;
  vertical-align: bottom;
  font-weight: 300;
}

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  /* display: inline-block; */
  text-align: left;
  margin: 0 0 0 2em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

/* I added this 2020-04-09 */
.reveal li {

}

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  /* position: relative; */
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: arial;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
  /* display: block; */
}

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #42affa;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #8dcffc;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #068de9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #CF4520; }
  /* margin-bottom: 2%; } */

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #42affa; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #191919; } }

/*********************************************
 * My additions
 * BOXES
 *********************************************/
/* @font-face {
  font-family: "Raleway";
  src: url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
} */

/* .my-name {
  font-family: "Raleway";
} */
 /* .reveal div:nth-of-type(1) {
   color: currentColor
 /*********************************************
 /*
 * BOXES
 *********************************************/

 .reveal .box {
   position: relative;
   border: 3px solid #002D72;
   left: 6em;
   width: 10em;
   /* height: 1.3em; */
   padding-left: 2%;
   padding-right: 2%;
   padding-top: 1%;
   padding-bottom: 1%;
 }

 .reveal .box-medium {
   position: relative;
   border: 3px solid #002D72;
   left: 67%;
   width: 11.25em;
   line-height: 1.5em;
   /* margin-top: 5%; */
   /* margin-bottom: 5%; */
   margin-left: 5%;
   /* margin-right: auto; */
   padding-left: 2%;
   padding-right: 2%;
   padding-top: 1%;
   padding-bottom: 1%;
   font-size: .8em;
   display: block;
   /* align-items: center; */
   /* text-align: center; */
 }

 .reveal .box-theory {
   position: relative;
   border: 3px solid #002D72;
   left: 80%;
   width: 10.5em;
   line-height: 1.5em;
   /* margin-top: 5%; */
   /* margin-bottom: 5%; */
   margin-left: 7%;
   /* margin-right: auto; */
   padding-left: 2%;
   padding-right: 2%;
   padding-top: 1%;
   padding-bottom: 1%;
   font-size: .8em;
   display: block;
   /* align-items: center; */
   /* text-align: center; */
 }

 .reveal .box-small {
   position: relative;
   border: 3px solid #002D72;
   left: 67%;
   width: 15em;
   line-height: 1.5em;
   /* margin-top: 5%; */
   /* margin-bottom: 5%; */
   margin-left: 5%;
   /* margin-right: auto; */
   padding-left: 2%;
   padding-right: 2%;
   padding-top: 1%;
   padding-bottom: 1%;
   font-size: .6em;
   display: block;
   /* align-items: center; */
   /* text-align: center; */
 }

 .reveal .ontepi {
   border: #002D72;
   background-color: #002D72;
   opacity: .67;
 }
 /*********************************************
  * HEADER AND FOOTER
  *********************************************/
 .head {
   /* position: absolute; */
   display: flex;
   /* align-items: center; */
   position: absolute;
   top: 0;
   height: 13%;
   width: 100%;
   background: #002D72;
   font-size: .5em;
 }

 .foot {
   float: left;
   bottom: 3%;
   position: absolute;
   height: 3%;
   width: 100%;
   background: #002D72;
   font-size: .33em;
 }

 .current-slide-number {
   bottom: -0.75%;
   right: 5%;
   position: absolute;
   height: 4%;
   font-size: .33em;
   z-index: 1000;
 }
 /*********************************************
  * SUNDRY
  *********************************************/

  /* This needs to be organized. */
  div.inSlide {
    position: absolute;
    top: 25%;
  }

  p.inSlide {
    position: absolute;
    top: 23%;
  }

  svg.inSlide {
    position: absolute;
    top: 25%;
  }

  svg.rotate {
    transform: rotate(45);
  }

  .blockquote-adjust {
    /* margin-top: 10%; */
    position: absolute;
    left: 15%;
    top: 35%;  }

  div.centered {
    position: absolute;

  }

  .logo-right {
    margin-left: 74.5%;
  }

  .reveal svg {
    fill: currentColor;
    stroke: currentColor;
  }

  .reveal use {
    fill: inherit;
    /* stroke: currentColor; */
  }

  .arrow-svg-container {
    position: absolute;
    height:0;
    width: 100%;
    padding: 0;
    padding-bottom: calc(50% * 4 / 5);
    /* over-ride this inline for aspect ratio other than square */
  }

  .arrow-lessMore {
    margin-top: 5%;
    /* top: 35%; */
  }

  .arrow-left {
    left: -30%;
  }

  .arrow-right {
    left: 30%;
    transform: rotate(180deg);
  }

  .scaling-svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top:0;
  }

  .par-left {
    position: absolute;
    text-align: left;
    font-size: .67em;
  }

  .par-left-down {
    position: absolute;
    top: 70%;
    left: 7%;
    text-align: left;
    font-size: .67em;
    /* position: relative; */
    /* display: inline-block; */
  }

  .par-left-down-two {
    position: absolute;
    bottom: 10%;
    left: 1%;
    text-align: left;
    font-size: .67em;
    /* position: relative; */
    /* display: inline-block; */
  }

  .par-right-down {
    position: absolute;
    top: 70%;
    right: 10%;
    text-align: right;
    font-size: .67em;

  }

  .par-right {
    position: relative;
    text-align: right;
    font-size: .67em;
    }

  .reveal #header-name {
    /* padding-left: 10px; */
    font-size: .6em;
    top: 10%;
    /* font-family: "Raleway"; */
  }

  .reveal use.text-more {
    color: #DDA46F;
  }

  .reveal use.text-less {
    color: #A7BCD6;
    /* stroke: currentColor; */
  }


  .reveal use.man-zero {
    /* padding-left: 10px; */
    fill: #8A2A2B;
    stroke: currentColor;
    stroke-width: .5;
    top: 10%;
  }

  .reveal .men {
    fill: #191919;
    stroke: currentColor;
    stroke-width: .5;
  }

  .reveal .outline-indicator {
  /* padding-left: 10px; */
  font-size: 1.1em;
  /* bottom: 0%; */
  color: #CF4520;
  opacity: .8;
  /* font-weight: 600px; */
  }

  .reveal .header-left {
    text-align: left;
    padding-left: 15px;
  }

  .highlight-yellow {
    color: #F7EA48;
    stroke: currentColor;
    stroke-width: .5;
  }

  .slide-content {
    text-align: left;
    padding-left: 1em;
    margin-top: 50px;
  }

  .slide-content-tight {
    /* text-align: left; */
    /* padding-left: 1em; */
    margin: 10px;
  }

  use.treatment-symbol {
    /* stroke: #EF4A81; */
    stroke: #000;
    transition: color .75s;
  }

  use.treatment-symbol:hover {
    color: #74AA50;
  }

  .treatment-label {
    color: #000;
  }

  .rad {
     padding-left: "10px";
  }

  .my-name {
    font-family: Raleway;
  }

  .column {
    float: left;
    width: 50%;
  }

  .column-right {
    position: absolute;
    right: 0%;
    width: 50%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .bibtexnumber {
    font-size: 20px;
  }

  .bibtexitem {
    font-size: 15px;
  }

  #para-utility {
    font-size: .5em;
    position: absolute;
    left: 30%;
    top: 60%;
  }

  #para-choices {
    font-size: .5em;
    position: absolute;
    left: 68%;
    top: 33%;
  }

  #para-theory {
    font-size: .85em;
    position: absolute;
    left: 0%;
    top: 81%;
  }

  #para-parent {
    /* font-size: .85em; */
    position: absolute;
    left: 0%;
    top: 92%;
  }

  .svg-left {
    position: absolute;
    left: 3%;
    top: 35%;
  }

  .svg-right {
    position: absolute;
    right: 3%;
    top: 35%;
  }

  .prior {
    /* stroke: #F7EA48; */
    color: #F7EA48;
    /* fill: #F7EA48; */
    /* font-color: #F7EA48; */
  }

  .prior:hover {
    color: #F7EA48;
  }

  .likelihood {
    color: #FF9E1B;
  }

  .likelihood:hover {
    color: #FF9E1B;
  }

  .marginal {
    color: #418FDE;
  }

  .marginal:hover {
    color: #418FDE;
  }

  .posterior {
    color: #74AA50;
  }

  .posterior:hover {
    color: #74AA50;
  }

  .bayes-equals-sign {
    color: inherit;
  }

  div.ct {
    margin-left: 20%;
  }

  .asclepius {
    color: inherit;
    fill: inherit;
    stroke-width: 0;
    position: absolute;
    right: 3%;
    top: 25%;
  }

  .reveal li.de-emphasize {
    font-size: 60%;
  }

  .eighty-five {
    font-size: 85%;
  }

  .indent {
    padding-left: 1em;
  }

  .seventy-five {
    font-size: 75%;
  }

  .reveal div.right-aligned {
    position: absolute;
    text-align: right;
    top: 33%;
    right: 0%;
    width: 55%;
  }

  .reveal div.right-par {
    position: absolute;
    text-align: right;
    top: 33%;
    right: 0%;
    width: 65%;
    /* font-size: 125%; */
  }

  .extra-space {
    margin: 2em;
  }

  .acknowledgment {
    font-size: .48em;
  }

  /*
  svg {
    color: currentColor;
  } */
  /* .middle{ */
    /* margin: auto; */
    /* width: 50%; */
    /* border: 3px solid green; */
    /* padding: 10px;  */
  /* } */
